<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Camping et tipis Labelle et la Rouge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crew Control">
    <meta name="author" content="Shipout Technology">
    {% stylesheet app %}
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="page-wrapper">
      <!-- header-10 -->
      <header class="header-10">
        <div class="container">
          <div id="navbar" class="navbar col-sm-12 navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"></button>
              <a id="brand" class="brand" href="/">Camping et tipis Labelle et la Rouge</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <ul class="nav pull-left">
                <li><a href="/">Accueil</a></li>
                <li><a href="#sites">Sites</a></li>
                <li><a href="#activite">Activité</a></li>
                <li><a href="#prix">Prix</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
              <form class="navbar-form pull-left">
                <a class="btn btn-info" href="#contact">Réservez maintenant</a>
              </form>
            </div>
          </div>
        </div>
      </header>

      {{content}} 

      <!-- footer-3 -->
      <footer class="footer-3">
        <div class="container">
          <div class="row v-center">
            <div class="col-sm-5">
              <a class="brand" href="/">Camping et tipis Labelle et la Rouge</a>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
              <h6>Labelle, QC</h6>
              <div class="address">
                <address>
                  252 Des geais-bleus labelle<br/>
                  Labelle, Qc, J0T 1H0
                </address>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  {% javascript app %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-50586017-1', 'labelleetlarouge.com');
ga('send', 'pageview');

</script>
</html>
